@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

fieldset,
img {
  border: 0;
}

li {
  list-style: none;
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  font-family: "Open Sans", sans-serif;
  padding: 10px 40px;
}

header nav {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

header nav img {
  margin-top: 20px;
  margin-right: auto;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

header nav ul {
  display: flex;
  gap: 10px;
}

header nav ul li {
  padding: 5px 10px;
  border: 2px solid #4d4d4d;
}

header nav ul li a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

#wrapper {
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;
}

@media (min-width: 768px) {
  #wrapper {
    flex-direction: row;
  }
}

.info {
  text-align: center;
}

@media (min-width: 768px) {
  .info {
    width: 400px;
    text-align: left;
  }
}

@media (min-width: 1100px) {
  .info {
    flex-basis: 50%;
  }
}

.info h1 {
  font-family: "Raleway", sans-serif;
  font-size: 3rem;
}

.info .intro {
  color: #676767;
  font-size: 1.5rem;
  line-height: 1.6;
  margin: 20px 0;
}

@media (min-width: 768px) {
  .logo {
    width: 350px;
    order: 2;
    margin-left: 90px;
  }
}

@media (min-width: 1100px) {
  .logo {
    flex-basis: 50%;
  }
}

.logo img {
  max-width: 100%;
  height: auto;
  animation: floating 2s ease-in-out 0s infinite;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, 0px);
  }
}

#getStart {
  background-color: #7289da;
  color: #fff;
  padding: 8px 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.already {
  font-size: 14px;
  margin: 10px 0;
}

.already a {
  text-decoration: none;
  color: crimson;
}

#formWrapper {
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

#formWrapper #form {
  width: 420px;
  display: flex;
  justify-content: center;
  font-family: Roboto, Arial, sans-serif;
  font-size: 15px;
  /* Change styles for span on extra small screens */
}

#formWrapper #form .signUp {
  position: relative;
}

#formWrapper #form .signUp h1 {
  margin-top: 5px;
}

#formWrapper #form .signUp button {
  position: absolute;
  top: 0;
  right: 0;
  background: transparent;
  width: 20px;
  font-size: 20px;
  margin-top: -10px;
  margin-right: 5px;
}

#formWrapper #form form {
  border: 3px solid;
  /* simplified from preview image */
  border-image: linear-gradient(to right, #12c2e9, #c471ed, #f64f59) 1;
}

#formWrapper #form input[type="text"],
#formWrapper #form input[type="password"] {
  width: 100%;
  padding: 16px 8px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

#formWrapper #form .icon {
  border: 1px solid #fff;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

#formWrapper #form .icon img {
  width: 150px;
  height: 150px;
  object-fit: contain;
}

#formWrapper #form button {
  background-color: #7289da;
  color: white;
  padding: 14px 0;
  margin: 10px 0;
  border: none;
  cursor: grab;
  width: 48%;
}

#formWrapper #form h1 {
  text-align: center;
  fone-size: 18;
}

#formWrapper #form button:hover {
  opacity: 0.8;
}

#formWrapper #form .formcontainer {
  text-align: center;
  margin: 24px 50px 12px;
}

#formWrapper #form .container {
  padding: 16px 0;
  text-align: left;
}

#formWrapper #form span.psw {
  float: right;
  padding-top: 0;
  padding-right: 15px;
}

@media screen and (max-width: 300px) {
  #formWrapper #form span.psw {
    display: block;
    float: none;
  }
}

footer {
  margin: 20px 0;
  display: grid;
  place-items: center;
  gap: 10px;
}

footer .icons {
  display: flex;
  gap: 10px;
}

footer .icons img {
  width: 35px;
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
}

footer .icons img:hover {
  filter: invert(25%);
  transform: translateY(-4px);
}
/*# sourceMappingURL=style.css.map */